@model KumasStokTakip.Models.Entity.Tip
@{
    ViewBag.Title = "UpdateTip";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Kumaş Tipi Güncelleme Sayfası</h2>
<br />
<form method="post">
    @Html.Label("Kumaş Tipinin Adı (Örnek: Dantel)")
    @Html.TextBoxFor(x => x.TipAdı , new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.TipAdı, "", new { @style = "color:red" })
    <br />

    <button class="btn btn-info">Kaydet</button>
</form>

